Udemy/data_vu=isualization_plotly/data-visualization-plotly-venv/
Udacity/.ipynb_checkpoints/
Udacity/parch-and-posey.sqlZone.Identifier
Udacity/intro_to_data_analysis/data-analysis-venv/
Udacity/intro_to_data_analysis/data-analysis-venv1/
